body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #990000;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

section {
  background: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  margin-top: 20px;
  color: #666;
}